/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}


a{
    text-decoration: none;
}

ul li{
    list-style: none;
}


nav{
    z-index: 99;
    position: fixed;
    width: 100%;
    min-height: 10vh;
    background-color: rgba(0, 70, 220, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vh;
    color: rgb(255, 255, 255);
}

nav ul li{
    display: block;
}

.profil{
    display: flex;
    align-items: center;
    padding: 15px;
}

.profil .data_nama{
    transition: none
}

.data_nama{
    opacity: 0;
    display: block;
    position: absolute;
    pointer-events: all 0.15s;
}

nav ul li:hover .profil .data_nama{
    pointer-events: auto;
    opacity: 100;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: left;
    margin-left: 20px;
    transition: all 0.3s;
    
} 

.data_nama .nama{
    font-weight: bold;
}
.data_nama .username{
    opacity: 80%;
}

.foto_profil{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    transition: all 0.3s;
}

nav a{
    color: white;
    display: flex ;
    align-items: center;
    height: 100%;
}


nav ul li .dropdown{
    transition: all 0.4s;
}

.dropdown{
    opacity: 0;
    display: block;
    position: absolute;
    right: 0;
    pointer-events: none;

    
}

nav ul li:hover .dropdown{
    pointer-events: auto;
    opacity: 100;
    display: block;
    position: absolute;
    right: 0;
    
    background-color: rgba(0, 70, 220, 0.8);
    border-radius: 0  0 10px 10px ;
}

.dropdown ul li{
    min-width: 150px;
    padding: 16px;
    text-align: left;
    border-radius: 10px;
    transition: all 0.3s;
}

.dropdown ul li:hover{
    background-color:  rgba(0, 50, 160, 0.75);
}

.dropdown ul li a{
    padding: 5px;
}
